.navbar-dashboard {
 display: flex;
 height: 100% auto !important;
 width: 20%;
 background-color: #f8f9fa; 
}
.sidebar {
 width: 100%;
 background-color:  rgba(11, 52, 11, 0.742);
 border-right: 1px solid #eaeaea;
}
.sidebar-header {
 display: flex;
 background-color: rgb(11, 52, 11);
 align-items: center;
 padding: 20px;
 color: #fff;
}
.logo {
 width: 40px;
 height: 40px;
 margin-right: 10px;
}
.menu {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
.menu-item {
 padding: 10px 15px;
 color: #fffefe;
 cursor: pointer;
 position: relative; 
  display: block;  /* Cambiado a flex para una mejor alineación */
 align-items: center;
 gap: 10px;  /* Espacio entre el icono y el texto */
}
.menu-item:hover {
 background-color: #b7b7b8c1;
}
.menu-item img{
 width: 40px;
}
.dropdown-toggle::after {
 content: '▼'; /* Flecha indicando el dropdown */
 font-size: 12px;
 margin-left: 10px;
}
.dropdown-menu2 {
 display: none;
 list-style-type: none;
 position: relative;
 width: 100%;
 z-index: 1000;
}
.dropdown-item2 {
 padding: 10px;
 cursor: pointer;
 color: #000000;
}
.dropdown-item2 a {
 text-decoration: none;
 color: inherit;
}
.dropdown-item2:hover {
 background-color: rgba(63, 65, 63, 0.618);
 color: rgb(255, 254, 254);
 border-radius: 10px;
}
.menu-item.dropdown:hover .dropdown-menu2 {
 display: block;
 position: relative;
}