.container-credential-create{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.credentials-create-container {
 margin: 20px;
 padding: 20px;
 border-radius: 8px;
 width: 40%;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 background-color: #fff;
}

.credentials-create-container  h2 {
 text-align: center;
 margin-bottom: 20px;
}
.form-group {
 margin-bottom: 15px;
 width: 100%;
}

.form-group label {
 display: block;
 margin-bottom: 5px;
}

.form-group input {
 width: 100%;
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 5px;
}

.search-button {
 background: #136472;
 color: #fff;
 padding: 10px 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

.search-button:hover {
 background: #0e4a57;
}
.card-credential2 {
 margin: 10px;
 background-color: white;
 border-radius: 20px;
 border: 1px solid rgb(0, 0, 0);
 width: 300px;
}

.back-fondo2 {
 background-image: url('../../../assets/images/fondoazul.jpg');
 background-repeat: no-repeat;
 background-position: bottom;
 background-size: cover;
 border-radius: 20px;
 height: 100%;
}

.card-section-logo2 {
 display: flex;
 justify-content: space-evenly;
 padding: 10px;
}

.card-section-logo2 .img1 {
 width: 200px;
 height: 60px;
}

.card-section-logo2 .img2 {
 width: 100px;
 height: 100px;
 padding: 10px;
}

.card-section-dates-alumn2 {
 display: flex;
}

.card-section-dates-alumn2 img {
 width: 150px;
 height: 180px;
}

.card-subsection-dates-alumn2 {
 display: flex;
 flex-direction: column;
 gap: 10px;
 width: 100%;
}

.card-subsection-dates-alumn2 span {
 font-size: 1.3em;
 width: 100%;
 padding: 5px;
}

.card-subsection-dates-alumn2 img {
 width: 80px;
 height: 80px;
 align-self: center;
}

.card-subsection-dates-alumn-bottom2 {
 display: flex;
 flex-direction: column;
 padding: 2px;
 gap: 8px;
}

.card-subsection-dates-alumn-bottom2 h2 {
 text-align: center;
 font-size: 1.2em;
}

.sub-group1 {
 display: flex;
 justify-content: center;
 font-size: 1em;
 gap: 5px;
}

.sub-group1 h3 {
 font-size: 1em;
 text-decoration: underline;
}

.sub-group2 {
 display: flex;
 font-size: 1em;
 gap: 5px;
 padding: 4px;
}

.sub-group2 h3 {
 font-size: 1em;
 text-decoration: underline;
}

.close-button2 {
 color: #aaa;
 font-size: 28px;
 font-weight: bold;
 height: 100px;
 width: 10%;
}

.close-button2:hover,
.close-button2:focus {
 background-color: red;
 border-radius: 50px;
 color: rgb(255, 255, 255);
 text-decoration: none;
 cursor: pointer;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 -ms-border-radius: 50px;
 -o-border-radius: 50px;
}