.admin-container-dashboard {
 width: 100%;
 height: 100vh;
 padding: 10px;
 background-color: white;
}

.admin-header {
 text-align: left;
 font-family: 'Courier New', Courier, monospace;
}

.admin-header h2 {
 margin: 0;
}

.admin-header p {
 margin: 0;
 font-size: 14px;
 color: grey;
}

.admin-welcome {
 width: 100%;
 padding: 20px;
 background-color: #8fbc8f;
 border-radius: 15px;
 color: white;
 font-family: Arial, sans-serif;
 display: flex;
 justify-content: center;
 gap: 20px;
 align-items: center;
}

.admin-welcome p {
 margin: 0;
}

.admin-welcome span {
 font-weight: bold;
 color: black;
}