.info-alumn-container {
 width: 100%;
 margin: 0 auto;
 padding: 20px;
 background-color: #fff;
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 overflow-x: scroll;
}

.info-alumn-container h2 {
 text-align: center;
 margin-bottom: 20px;
}

.search-form {
 display: flex;
 justify-content: center;
 margin-bottom: 20px;
}

.search-form input {
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 5px;
 margin-right: 10px;
}

.search-form button {
 padding: 10px 20px;
 border: none;
 background-color: #007bff;
 color: #fff;
 border-radius: 5px;
 cursor: pointer;
}

.search-form button:hover {
 background-color: #0069d9;
}

.alumnos-table {
 width: 100%;
 border-collapse: collapse;
 margin-bottom: 20px;
}

.alumnos-table th, .alumnos-table td {
 border: 1px solid #ddd;
 padding: 8px;
 text-align: left;
}

.alumnos-table th {
 background-color: #f2f2f2;
}

.pagination {
 display: flex;
 justify-content: center;
}

.page-button {
 padding: 10px;
 margin: 0 5px;
 border: 1px solid #ddd;
 background-color: #f2f2f2;
 cursor: pointer;
}

.page-button.active {
 background-color: #007bff;
 color: #fff;
}

.page-button:hover {
 background-color: #ddd;
}
